
@font-face {
    font-family: titleFont;
    src: url(../fonts/big.woff);
}

@font-face {
    font-family: smallFont;
    src: url(../fonts/small.woff);
}


header{
  width: 60%;
  font-weight: normal;
  font-family: 'Gill Sans MT', 'Gill Sans', sans-serif;
  color: #015581;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: .2em;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
}

/* -- Headings -- */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 18px;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Gill Sans MT', 'Gill Sans', sans-serif;
  color: #015581;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-break: break-word;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  padding-left: 60px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  color: #015581;
}

h4, h5 {
  font-size: 15px;
  line-height: 18px;
}

h4 {
  font-weight: bold;
}

h5 {
  font-style: italic;
}

h6 {
  color: #666;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

p {
  padding-left:100px;
  padding-right:100px;
}



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  }



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.menubar {
    width: 100%;
    top:0;
    left:0;
    margin:0;
    background: #404040;
    color: #000000;
    text-align:right;
    font-family: smallFont;
    font-size: 14px;
    box-shadow: 0px 0px 5px #666666;
}




  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


/* CUSTOMIZE THE MAP
-------------------------------------------------- */
  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 40;

    padding-bottom: 80px;
  }

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.smellyfeet {
    bottom:0;
    position:fixed;
    padding-left:  15px;
    padding-bottom: 40px;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
}